*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #5474de);
    color: #333;
}

.container{
    margin:0 15px;
    
}

.form-box{
    padding: 30px;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active{
    display: block;  }

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input , select{
   width: 100%;
   padding: 12px;
   background: #eee;
   border-radius: 6px;
   border: none;
   font-size: 16px;
   color: #333;
   margin-bottom: 20px; 
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s ease;
    font-weight: 500;
    margin-bottom: 20px;
}
button:hover{
    background: #5474de;
}
p{
    text-align: center;
    font-size: 14.5px;
    margin-bottom: 10px;
}
p a{
    color: #5474de;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
p a:hover{
    text-decoration: underline;
}